@charset "UTF-8";

// fonts
@import "partials/font-kode-mono";
@import "partials/font-chakra-petch";

// variables
@import "partials/scss-variables";
@import "partials/css-variables";

// parts
@import "partials/base";
@import "partials/mobile-nav";
@import "partials/header";



// cookie notice
#cookie-notice {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
