@charset "UTF-8";

// fonts
@import "partials/font-kode-mono";
@import "partials/font-chakra-petch";

// variables
@import "partials/scss-variables";
@import "partials/css-variables";






#cookie-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
