// global
section {
    padding: var(--cs-space-inner-xl) 0;
    overflow: hidden;

    .justify {
        text-align: justify;
    }

    &.background {
        background-color: var(--cs-color-background-section);
    }

    .container,
    .container-fluid {
        padding-left: var(--cs-space-base);
        padding-right: var(--cs-space-base);

        > header {
            margin-bottom: var(--cs-space-inner-md);
            padding-bottom: var(--cs-space-inner-md);

            h2 {
                position: relative;
                margin-bottom: var(--cs-space-inner-sl);
                padding-bottom: var(--cs-space-inner-sl);
                color: var(--cs-color-text-heading);

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: block;
                    width: 4.00rem;
                    height: 4px;
                    background-color: var(--cs-color-link-default);
                }
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}

// about
#about {
    .content {
        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: var(--cs-space-inner-md);
                display: flex;
                align-items: center;

                strong {
                    margin-right: var(--cs-space-inner-sl);
                }

                i {
                    margin-right: var(--cs-space-inner-xs);
                    font-size: 1rem;
                    line-height: 0;
                    color: var(--cs-color-link-default);
                }

                p {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

// facts
#facts {
    padding-bottom: var(--cs-space-inner-xl);

    .count-box {
        width: 100%;
        padding: var(--cs-space-inner-xl);

        i {
            margin-right: var(--cs-space-inner-xs);
            font-size: var(--cs-font-size-h2);
            color: var(--cs-color-link-default);
        }

        .counter-prefix {
            font-size: var(--cs-font-size-h5);
            color: var(--cs-color-text-heading);
            font-weight: var(--cs-font-weight-bold);
        }

        .purecounter {
            font-size: var(--cs-font-size-h2);
            color: var(--cs-color-text-heading);
            font-weight: var(--cs-font-weight-bold);
        }

        .counter-unit {
            font-size: var(--cs-font-size-h6);
            color: var(--cs-color-text-heading);
            font-weight: var(--cs-font-weight-bold);
        }
    }
}

// certificates
#certificates {

}

// skills
#skills {

}

// resume
#resume {

}

// github
#github {

}

// websites
#websites {

}

// games
#games {

}

// contact
#contact {

}
